doctype html
html(lang="en")
    head
        meta(charset="utf-8")
        title PostHTML Plugins Catalog
        link(rel="stylesheet" href=assets.css)
        
        meta(name="HandheldFriendly" content="True")
        meta(name="MobileOptimized" content="320")
        meta(name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no")
        meta(http-equiv="cleartype" content="on")
        meta(name="apple-mobile-web-app-capable" content="yes")
        
        meta(property="og:type" content="website")
        meta(property="og:image" content="/img/posthtml.png")
        meta(property="og:description" content="PostHTML Plugins Catalog")
        meta(property="og:url" content="http://maltsev.github.io/posthtml-plugins")
        
        link(rel="icon" type="image/x-icon" href="/img/favicon.ico")

    body
        div(class=c.base.wrapper)
            div(class=c.base.headingWrapper)
                h1(class=c.base.heading) PostHTML Plugins Catalog
                a(href="https://github.com/maltsev/posthtml-plugins#how-to-add-a-plugin" class=c.base.addLink) add plugin
            
            #app 
            
            footer Created by 
                a(href="http://kirillmaltsev.net" class=c.footer.authorLink) Kirill Maltsev 
            
        script(src=assets.js)
